<div class="container center-align">
    <h1>Are you a vinyl collector?</h1>
    <h1>Want a personal profile?</h1>

    <div class="row">
        <div class="input-field col s12 m10">
            <input placeholder="Discogs Username" class="username" maxlength="50" type="text">
         </div>

        <a class="col s12 m2 btn go">Go!</a>
    </div>
</div>
